@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Your document has been sent for signing. Thanks for using DocuSign start!</h1>

<h2>After signing, <a href="/home/GetSignedDocument">click here</a> to download the signed document</h2>